header img {
  max-width: 200px;
}

li {
  list-style: none;
}
.bg-orange {
  background-color: #fe6601;
}

.bg-purple {
  background-color: #4c4a9b;
}

.purple {
  color: #4c4a9b;
}

.bg-gray {
  background-color: #e8e6e7;
}

.lightgray {
  color: rgb(167, 162, 162);
}
